#heading{
    size: 30px;
    color: rgb(9, 83, 58);
    text-decoration: underline;
    text-align: center;
}
#details{
  width: 200px;
  height: 200px;
  background-color: bisque;
  padding: 30px;
  margin-left: 40%;
  border:2px solid black;
  border-radius: 20px;
}
button{
    background-color: blueviolet;
    color: white;
    font-weight: bolder;
    padding: 20px;
    border-radius: 20px;
    margin-left: 45%;

}